**Задание 1**  
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:  
-- оценка 2 и меньше - низкий рейтинг  
-- оценка 4 и меньше - средний рейтинг  
-- оценка 4.5 и 5 - высокий рейтинг

In [1]:
import pandas as pd
def rate_rating (ratings):
    class_=""
    if ratings <= int(2):
        class_ = "low"
    elif ratings <= int(4):
        class_ = "medium"
    else:
        class_ = "high"
    
    return class_


df = pd.read_csv('ratings.csv')

df['class']=df.rating.apply(rate_rating)

df.head()

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  medium
1       1     1029     3.0  1260759179  medium
2       1     1061     3.0  1260759182  medium
3       1     1129     2.0  1260759185     low
4       1     1172     4.0  1260759205  medium

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [2]:
df_keywords = pd.read_csv('keywords.csv')

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def region_search(keyword):
    keyword = keyword.split(' ')
    region = ""
    for word in keyword:
        for k,v in geo_data.items():
            if word in v:
                region = k      
        if region =="":
            region ="undefined"
    return region

#geo_data.keys()
df_keywords['region'] = df_keywords.keyword.apply(region_search)


df_keywords.sort_values('region', ascending=False)
df_keywords.loc[120:127]
#df_keywords.to_csv('key.csv', encoding="UTF-8")

               keyword    shows     region
120          дойки ком  1059292  undefined
121                аск  1045170  undefined
122            мой мир   993332  undefined
123              avito   984448  undefined
124  викинг фильм 2017   984999  undefined
125    школьный портал   982692  undefined
126    вк моя страница   979105  undefined
127       авито москва   979292      Центр

**Задание 3 (бонусное)**

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.  

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:  

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

-- для каждой строки пройдите по всем годам списка years  
-- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска  
-- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год  

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [ ]:
years = list(range(1950, 2011))

def check_the_year(title):
    title = title.split(' ')
    title = title[-1]
    for y in years:
        if str(y) in title:
            return y
    return "1990"

def get_the_year_into_raitings_table(movieId):
    ye =""
    ye = df_movies[df_movies.movieId == movieId].year
    return ye

df_raitings = pd.read_csv('ratings.csv')
df_raitings.head()
df_movies = pd.read_csv('movies.csv')

df_movies['year'] = df_movies.title.apply(check_the_year)
df_raitings['y'] = df_movies.movieId.apply(get_the_year_into_raitings_table)

#df_movies.head()
df_raitings.head()